<% content_for :title, "Editing #{resource.name}" %>
<%= render "layouts/nav_tabs" %>
<%= render "form" %>

<div class="btn-toolbar">
  <%= link_to "Show", resource, class: "btn btn-md btn-default" %>
  <%= link_to "Back", stations_path, class: "btn btn-md btn-default" %>
</div>
