<% content_for :title, 'New Station' %>
<%= render 'layouts/nav_tabs' %>
<%= render 'form' %>

<div class="btn-toolbar">
  <%= link_to 'Back', stations_path, class: 'btn btn-md btn-default' %>
</div>
