<p>Hello <%= @user.name %>,</p>
<br />
<p>You have requested to reset your password. In order to do so, please visit <%= link_to(new_password_reset_url(:token => @user.password_request.token), new_password_reset_url(:token => @user.password_request.token)) %></p>
<p>If this link is not clickable, please copy and paste it into your browser.</p>
<p>You will be able to reset your password once you visit this link.</p>
<br />
<p>Thanks,</p>
<p>Gas Tracker (<%= link_to("Gas Tracker", root_url) %>)</p>
<%= render "do_not_reply" %>
