<p>Hello <%= @user.name %>,</p>
<br/>
<p>Thank you for signing up for Gas Tracker. You can now sign in and begin creating gas entries. You will want to create a vehicle first.</p>
<br/>
<br/>
<p>Thanks,</p>
<p>Gas Tracker (<%= link_to("Gas Tracker", root_url) %>)</p>
