p Hello #{@user.name},
br
p Thank you for signing up for Gas Tracker. You can now sign in and begin creating gas entries. You will want to create a vehicle first.
br
br
p Thanks,
p Gas Tracker (#{link_to('Gas Tracker', root_url)})
