<% content_for :title, "#{resource.year} #{resource.brand} #{resource.name}" %>
<%= render resource %>

<div class="btn-toolbar">
  <%= link_to "New Gas Entry", new_vehicle_gas_entry_path(resource), class: "btn btn-default btn-md" %>
  <%= link_to "Edit", edit_vehicle_path(resource), class: "btn btn-md btn-default" %>
  <%= link_to "Back", vehicles_path, class: "btn btn-md btn-default" %>
</div>
