<% content_for :title, "About Gas Tracker" %>
<p class="lead">Ever wonder why your car gets better mileage sometimes?</p>
<p>Keeping a careful record of gas mileage can show several things about your car:</p>
<ul>
  <li>Fuel expenditures</li>
  <li>Driving patterns</li>
  <li>The presence of engine issues</li>
  <li>Life events</li>
</ul>
