<div class="jumbotron">
  <div class="text-center">
    <h1>Gas Tracker</h1>
    <p>Track your gas usage here.</p>
    <p>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Log In", login_path, class: "btn btn-success btn-lg" %>
    </p>
  </div>
</div>
