- content_for :title, "#{response.status} #{action_name.titleize}"

.text-center
  p= @message
  p
    | Sorry about that! The admins have been notified and will fix it promptly!
  p= link_to 'Home', root_path, class: 'btn btn-lg btn-primary'
