<% content_for :title, "#{response.status} #{action_name.titleize}" %>
<div class="text-center">
  <p><%= @message %></p>
  <p>Sorry about that! The admins have been notified and will fix it promptly!</p>
  <p><%= link_to "Home", root_path, class: "btn btn-lg btn-primary" %></p>
</div>
