<% content_for :title, 'Instructions' %>
<%= render 'layouts/nav_tabs' %>
<div class="instructions">
  <ol>
    <li>If this is your first gas entry, fill the vehicle's tank completely</li>
    <li>Reset the trip meter to zero</li>
    <li>Drive until a refuel is necessary</li>
    <li>Refuel</li>
    <li>Take the number of gallons of gas from the pump</li>
    <li>Take the distance driven from the trip meter</li>
    <li>Distance driven divided by gallons of fuel used equals fuel economy
    </li>
  </ol>
  <p>Calculating fuel economy is not possible without some control value to base it on. This is why it is important to refuel completely and reset the trip meter.</p>
</div>
