<% content_for :title, "Welcome!" %>
<div class="row">
  <div class="col-xs-12">
    <p><%= link_to "My Vehicles", vehicles_path, class: "btn btn-primary btn-lg btn-block" %></p>
    <p><%= link_to "My Stations", stations_path, class: "btn btn-primary btn-lg btn-block" %></p>
  </div>
</div>
