- content_for :title, 'Welcome!'

.row
  .col-xs-12
    p= link_to 'My Vehicles', vehicles_path, class: 'btn btn-primary btn-lg btn-block'
    p= link_to 'My Stations', stations_path, class: 'btn btn-primary btn-lg btn-block'
