<% content_for :title, "Change Password" %>
<%= form_for password_form, url: password_path, method: :post do |form| %>
  <% if password_form.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% password_form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "fields", form: form %>
  <%= form.submit "Update Password", class: "btn btn-lg btn-success" %>
<% end %>


