<% content_for :title, 'My Vehicles' %>
<% collection.each do |row| %>
  <div class="media">
    <div class="media-left">
      <% if row.photo %>
        <%= link_to row do %>
          <%= image_tag row.photo.thumbnail.url, class: 'media-object' %>
        <% end %>
      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to row.full_name, row %>
      </h4></div>
  </div>
<% end %>
<p><%= link_to 'Add A New Vehicle', new_vehicle_path, class: 'btn btn-default btn-lg' %></p>
