<div class="footer">
  <div class="text-center">
    <p>
      <small>Copyright &copy; 2014-<%= Time.now.year %> Dave Shaffer. All Rights Reserved.</small>
    </p>
    <p>
      <small>
        <%= link_to 'Gas Tracker', 'http://gas.daveshaffer.co' %>
        by
        <%= link_to '@flanger001', 'https://twitter.com/flanger001' %>
      </small>
    </p>
  </div>
</div>
