<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to base_title, root_path, class: 'navbar-brand' %>
      <button class="navbar-toggle collapsed" data-target="#navbar-collapse" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-right">
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="navbar-text">
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, class: "flash #{name}" %>
            <% end %>
          </li>
          <% nav_links.each do |link| %>
            <li><%= link_to link.name, link.url, method: link.method %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
